body {
  font-family: "LXGW WenKai Screen R", Calibri, Arial, sans-serif !important;

  /* background-color: #ffffff; */
  color: rgba(36, 41, 47, 0.9);
  overflow-x: hidden;
}

.post img {
  display: block;
  box-shadow: 0 0 10px #555;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 10px #555;
}

.post-content {
  color: #656161 !important;
}
