www.howie6879.cn {
    root /var/www/howie6879.github.io
    tls xiaozizayang@gmail.com
    git {
        then     git stash
        repo     https://github.com/howie6879/howie6879.github.io.git
        path     /var/www/howie6879.github.io
        interval 600
    }
    timeouts none
    gzip
}

howie6879.cn {
    redir www.howie6879.cn
}