www.howie6879.com {
    root /var/www/howie6879.github.io
    git {
        repo     https://github.com/howie6879/howie6879.github.io.git
        path     /var/www/howie6879.github.io
        interval 86400
    }
    timeouts none
    gzip
}

howie6879.com {
    redir www.howie6879.com
}